[Unit]
Description=Centrunk P25 TRS Service
After=syslog.target network.target

[Service]
User=dvmhost
Type=forking
ExecStart=/opt/dvm/dvmhost -c /opt/dvm/config.centrunk.yml
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
